.bubble {
  height: 450px;
  width: 450px;
  background-image: url("../../assets/images/dialog-bubble-left.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
