.bubble {
  height: 300px;
  width: 300px;
  background-image: url("../../assets/images/dialog-bubble-right.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
